@model yard_management_system.Models.Cargo

@{
    ViewData["Title"] = "Delete";
}

<h2>Ištrynimas</h2>

<h3>Ar tikrai norite pašalinti šį krovinį?</h3>
<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Registracijos numeris
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt>
            Svoris
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            Aprašymas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Būsena
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            Rampos numeris
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ramp.Code)
        </dd>
        <dt>
            Įvažiavimo numeris
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entry.Code)
        </dd>
        <dt>
            Užsakymo numeris
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Trinti" class="btn btn-default" /> |
        <a asp-controller="Orders" asp-action="Details" asp-route-id="@Model.OrderID">Back to List</a>
    </form>
</div>
