@model IEnumerable<yard_management_system.Models.Order>

@{
    ViewData["Title"] = "Užsakymai";
}

<h2>Užsakymai</h2>

<form asp-action="Create">
    <div class="form-group">
        <button type="submit" value="Create" class="btn btn-default">Sukurti</button>
    </div>
</form>

@if ((int)ViewData["count"] > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Būsena
                </th>
                <th>
                    Sukūrimo Data
                </th>
                <th>
                    Sukūrė
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreator.FirstName)
                        @Html.DisplayFor(modelItem => item.UserCreator.SecondName)
                    </td>
                    <td>
                        |
                        <a asp-controller="Cargoes" asp-action="Create" asp-route-id="@item.ID">Pridėti krovinį</a> |
                        <a asp-action="Edit" asp-route-id="@item.ID">Keisti būseną</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Peržiūrėti</a> |
                        @if (item.Cargos.Count == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.ID">Trinti</a>
                            <span> |</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">Užsakymų šiuo metu nėra</div>
}
