@model IEnumerable<yard_management_system.Models.TimeSlot>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfTimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blocked)
            </th>
            <th>
                Ramp ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTimeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramp.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeSlotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeSlotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeSlotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
